//
// list component for sidebar menu
//

.list {
  & &-hidden {
    padding-left: 0;
    margin: .313rem 0 0 1.438rem;
    background: none !important;
    border-left: .125rem solid transparent;
  }
}
