//
// list component for sidebar menu
//

.list {
  & &-hidden {
    padding-left: 0;
    margin: rem(5) 0 0 rem(23);
    background: none !important;
    border-left: rem(2) solid transparent;
  }
}
