//
// list component for sidebar menu
//

.list {
  & &-hidden {
    padding-left: 0;
    margin: toRem(5) 0 0 toRem(23);
    background: none !important;
    border-left: toRem(2) solid transparent;
  }
}
