//
// theme colors
//

$dark:          rgb(55,  61,   66);
$white:         rgb(255, 255, 255);
$light:         rgb(248, 249, 250);
$magenta:       rgb(220,  53,  69);
$cyan:          rgb(0,   123, 255);
$purple:        rgb(111, 66,  193);
$green:         rgb(40,  167,  69);
$orange:        rgb(253, 126,  20);
$theme-colors: (
        'dark': (
                'list-color':                   lighten($dark, 35),
                'link-color':                   lighten($dark, 75),
                'link-bg':                      lighten($dark, 2),
                'link-bg-current':              lighten($dark, 4),
                'hide-border-color':            lighten($dark, 4),
                'hide-link-color':              lighten($dark, 55),
                'hide-link-color-current':      lighten($dark, 60),
                'hide-link-bg-current':         lighten($dark, 8),
                'hide-link-arrow-current':      lighten($dark, 12),
                'scrollbar-bg':                 lighten($dark, 18),
                'sidebar-bg':                   $dark
        ),
        'white': (
                'list-color':                   darken($white, 35),
                'link-color':                   darken($white, 75),
                'link-bg':                      darken($light, 2),
                'link-bg-current':              darken($light, 4),
                'hide-border-color':            darken($light, 4),
                'hide-link-color':              darken($light, 55),
                'hide-link-color-current':      darken($light, 60),
                'hide-link-bg-current':         darken($light, 8),
                'hide-link-arrow-current':      darken($light, 12),
                'scrollbar-bg':                 darken($light, 18),
                'sidebar-bg':                   $white
        ),
        'menu-magenta': (
                'hide-link-a-color':            lighten($magenta, 80),
                'hide-link-color-current':      lighten($magenta, 90),
                'hide-link-bg':                 lighten($magenta, 4),
                'hide-link-bg-current':         lighten($magenta, 10),
                'hide-link-arrow-current':      $magenta
        ),
        'menu-cyan': (
                'hide-link-a-color':            lighten($cyan, 80),
                'hide-link-color-current':      lighten($cyan, 90),
                'hide-link-bg':                 lighten($cyan, 4),
                'hide-link-bg-current':         lighten($cyan, 10),
                'hide-link-arrow-current':      $cyan,
        ),
        'menu-purple': (
                'hide-link-a-color':            lighten($purple, 80),
                'hide-link-color-current':      lighten($purple, 90),
                'hide-link-bg':                 lighten($purple, 4),
                'hide-link-bg-current':         lighten($purple, 10),
                'hide-link-arrow-current':      $purple,
        ),
        'menu-green': (
                'hide-link-a-color':            lighten($green, 80),
                'hide-link-color-current':      lighten($green, 90),
                'hide-link-bg':                 lighten($green, 4),
                'hide-link-bg-current':         lighten($green, 10),
                'hide-link-arrow-current':      $green,
        ),
        'menu-orange': (
                'hide-link-a-color':            lighten($orange, 80),
                'hide-link-color-current':      lighten($orange, 90),
                'hide-link-bg':                 lighten($orange, 4),
                'hide-link-bg-current':         lighten($orange, 10),
                'hide-link-arrow-current':      $orange,
        ),
);
